* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19a2ae;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  color: #2d3248;
  font-size: 18px;
  font-weight: 700;
  z-index: 0;
}

h2, h3 {
  padding: 5px;
}

h3 {
  font-weight: 400;
  color: #969696;
}

hr {
  border-top: 1px solid #969696;
  width: 348px;
}

.profile__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  max-width: 350px;
  border-radius: 10px;
  max-height: 380px;
  filter: drop-shadow(0 1px 1px #2d3248);
  z-index: 200;
}
.profile__card .card__top {
  height: 140px;
}
.profile__card .card__top .top__cardimg {
  border-radius: 10px 10px 0px 0px;
}
.profile__card .card__middle {
  display: inherit;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 140px;
}
.profile__card .card__middle .profile__picture {
  position: relative;
  bottom: 58px;
  width: max-content;
  border-radius: 100%;
  border: 6px solid white;
  z-index: 2;
}
.profile__card .card__middle .nameagelocation {
  position: relative;
  bottom: 50px;
}
.profile__card .card__middle .name__age {
  display: flex;
}
.profile__card .card__bottom {
  display: inherit;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  height: 100px;
}
.profile__card .card__bottom .stats__container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer {
  position: absolute;
  bottom: 0;
}