$primarycolor: hsl(185, 75%, 39%);
$secondary-color: hsl(229, 23%, 23%);
$tertiary-color: hsl(227, 10%, 46%);
$font-color: hsl(0, 0%, 59%);
$bold-font: 700;
$normal-font: 400;
$primary-font: "Kumbh Sans", sans-serif;
$font-size: 18px;

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primarycolor;
  background-image: url("./images/bg-pattern-top.svg"),
  url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  height: 100vh;
  font-family: $primary-font;
  color:$secondary-color;
  font-size: $font-size;
  font-weight: $bold-font;
  z-index:0;
}
h2, h3 {
  padding: 5px;
}

h3 {
  font-weight: $normal-font;
  color: $font-color;
}
hr {
  border-top: 1px solid $font-color;
  width: 348px;
}

.profile__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  max-width: 350px;
  border-radius: 10px;
  max-height: 380px;
  filter: drop-shadow(0 1px 1px $secondary-color);
  z-index: 200;
  .card__top {
    height: 140px;
    .top__cardimg {
      border-radius: 10px 10px 0px 0px;
    }
  }
  .card__middle {
    display: inherit;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    text-align: center;
    height: 140px;
    .profile__picture {
      position: relative;
      bottom: 58px;
      width: max-content;
      border-radius: 100%;
      border: 6px solid white;
      z-index: 2;
    }
    .nameagelocation{
      position: relative;
      bottom: 50px;
    }
    .name__age {
      display: flex;
    }
  }
  .card__bottom {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    height: 100px;
    .stats__container {
      display: inherit;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100px;
    }
  }
}
footer {
  margin-top: auto;
}
